body {
    font-family: Arial, sans-serif;
    background: #e8f5e9;
    margin: 0;
}

.header {
    background: #2e7d32;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
}

.navbar {
    width: 100%;
    background-color: #3c8d44;
    color: white;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 3px 5px rgba(0,0,0,0.2);
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-links a:hover {
    color: #d7ffd9;
}


.contenedor {
    width: 85%;
    margin: 30px auto;
    background: white;
    padding: 25px;
    border-radius: 12px;
}

.titulo {
    text-align: center;
    color: #1b5e20;
    font-size: 28px;
}

.subtexto {
    text-align: center;
    color: #4f7f56;
}

.imagen-demo {
    text-align: center;
    margin: 20px 0;
}

.imagen-demo img {
    width: 220px;
    border-radius: 10px;
    border: 3px solid #a5d6a7;
}

.formulario {
    margin-bottom: 25px;
}

.fila {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.campo {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.campo label {
    color: #1b5e20;
    font-weight: bold;
    margin-bottom: 5px;
}

.campo input,
.campo select,
textarea {
    padding: 10px;
    border: 2px solid #a5d6a7;
    background: #f1f8f2;
    border-radius: 8px;
}

textarea {
    height: 110px;
    resize: vertical;
}

.acciones-superiores {
    text-align: center;
    margin-bottom: 25px;
}

.btn {
    padding: 12px 22px;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin: 0 8px;
    font-weight: bold;
}

.guardar {
    background: #2e7d32;
}

.consultar {
    background: #66bb6a;
}

.tabla-productos {
    width: 100%;
    border-collapse: collapse;
}

.tabla-productos th {
    background: #2e7d32;
    color: white;
    padding: 12px;
}

.tabla-productos td {
    padding: 12px;
    text-align: center;
    border-bottom: 2px solid #c8e6c9;
}

.mini-btn {
    padding: 7px 12px;
    border-radius: 7px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

.modificar-mini {
    background: #42a5f5;
}

.eliminar-mini {
    background: #e53935;
}

@media (max-width: 900px) {
    .fila {
        flex-direction: column;
    }
}
