body {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    background-color: #f3f8f0;
    color: #2f4f2f;
}


.navbar {
    width: 100%;
    background-color: #2e7d32;
    color: white;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    box-shadow: 0 3px 5px rgba(0,0,0,0.2);
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-links a:hover {
    color: #d7ffd9;
}

.profile-icon {
    font-size: 20px;
    cursor: pointer;
}


.hero {
    text-align: center;
    padding: 60px 20px;
    background-color: #dcedc8;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.15);
}

.hero h1 {
    font-size: 32px;
    color: #1b5e20;
}

.hero p {
    max-width: 650px;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 16px;
    color: #33691e;
}


.productos {
    padding: 40px 30px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

.producto {
    background: white;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    text-align: center;
    transition: 0.3s;
}

.producto:hover {
    transform: scale(1.04);
}

.producto img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 15px;
}

.producto h3 {
    margin-top: 10px;
    color: #1b5e20;
}

.desc {
    color: #33691e;
    font-size: 14px;
}

.precio {
    font-size: 20px;
    font-weight: bold;
    color: #2e7d32;
    margin-top: 10px;
}


.btn {
    width: 100%;
    padding: 10px;
    background-color: #43a047;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 15px;
    font-size: 14px;
    
}

.btn:hover {
    background-color: #2e7d32;
    
}


.footer {
    background-color: #2e7d32;
    color: white;
    text-align: center;
    padding: 18px;
    margin-top: 40px;
    font-size: 15px;
}

